@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

:root {
  --background: #e5ece9;
  --color: #55d6aa;
  --white: #fff;
  --gray: rgb(241, 241, 241);
}

body {
  margin: 0;
  background: var(--background);
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

main {
  margin: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: var(--color);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.buglogo {
  float: left;
  padding: 0 20px;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 40px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.reservation-group {
  margin-bottom: 15px;
  padding: 10px;
}
.reservation {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 8px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
select,
textarea {
  background-color: var(--gray);
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 5px 15px;
}

textarea {
  width: 80%;
}

.button {
  border-radius: 8px;
  outline: none;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--white);
  background-color: var(--color);
  border: solid var(--color);
  width: fit-content;
}

.button:hover {
  transform: scale(1.1);
}

main {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}
.schema-details,
form,
#reservationsContainer {
  border-top: 2px solid var(--color);
  padding-top: 15px;
}
h1 {
  text-align: center;
}
p {
  line-height: 1;
}
strong {
  color: var(--color);
}
