<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>CricketCare</title>
      <!-- Style CSS -->
      <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>
    <body>
      <header>
        <div class="container">
          <a href="/greeting">
            <img
              class="buglogo"
              th:src="@{images/bugbusters.jpg}"
              alt="bugs"
              width="100px"
            />
            <h1 class="logo">CricketCare</h1></a
          >

          <nav>
            <ul>
              <li><a href="/setup">Setup</a></li>
              <li><a href="/getClientInfo">Get Schema</a></li>
              <li><a href="/createReservation">Book</a></li>
              <li><a href="/getReservations">Appointments</a></li>
              <li><a href="/updateReservation">Update</a></li>
              <li><a href="/cancelReservation">Delete</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <h1>Delete your appointment:</h1>
        <form
          action="#"
          th:action="@{/cancelReservation}"
          th:object="${reservation}"
          method="post"
        >
          <!--    <p>Custom Attributes (JSON): <input type="text" th:field="*{json}" /></p>-->
          <p>Reservation ID:</p>
          <textarea
            class="form-control"
            rows="5"
            style="white-space: nowrap"
            name="reservationId"
            placeholder="Type in your reservationId"
            th:field="*{reservationId}"
            required="required"
          ></textarea>
          <p>
            <input class="button" type="submit" value="Submit" />
            <input class="button" type="reset" value="Reset" />
          </p>
        </form>
      </main>
    </body>
  </html>
</html>
