<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error occurred</title>

</head>
<body>

  <header>
    <div class="container">
      <a href="/greeting">
        <img class="buglogo" th:src="@{images/bugbusters.jpg}" alt="bugs" width="100px">
        <h1 class="logo">CricketCare</h1></a>

      <nav>
        <ul>
          <li><a href="/setup">Setup</a></li>
          <li><a href="/getClientInfo">Get Schema</a></li>
          <li><a href="/createReservation">Book</a></li>
          <li><a href="/getReservations">Appointments</a></li>
          <li><a href="/updateReservation">Update</a></li>
          <li><a href="/cancelReservation">Delete</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <p th:text="${error}" />
</body>
</html>