<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> CricketCare </title>
  <!-- Style CSS -->
  <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<header>
  <div class="container">
    <a href="/greeting">
      <img class="buglogo" th:src="@{images/bugbusters.jpg}" alt="bugs" width="100px">
      <h1 class="logo">CricketCare</h1></a>

    <nav>
      <ul>
        <li><a href="/setup">Setup</a></li>
        <li><a href="/getClientInfo">Get Schema</a></li>
        <li><a href="/createReservation">Book</a></li>
        <li><a href="/getReservations">Appointments</a></li>
        <li><a href="/updateReservation">Update</a></li>
        <li><a href="/cancelReservation">Delete</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
<h1>Here are your reservations:</h1>
<p th:text="${clientInfo}" />
</main>
</body>
</html>